@charset "UTF-8";
/* ===============================================
Base
=============================================== */
/*
  Reset
----------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* メディア　クエリ*/
/* ブレークポイントの設定*/
/* ===============================================
Default
=============================================== */
/*
  Default Style
----------------------------------------------- */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-size: medium;
  font-family: "Montserrat", -apple-system, system-ui, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif; /* 適宜修正*/
  line-height: 1.5;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  height: 100%;
  color: #101010; /* 適宜修正*/
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.screen-reader-text {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  height: 90px;
  width: 90px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace-running .l-header,
.pace-running .l-main,
.pace-running .l-footer {
  opacity: 0;
}

.pace.pace-inactive .pace-activity {
  display: none;
}

.pace .pace-activity {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: -30px;
  top: -30px;
  height: 90px;
  width: 90px;
  display: block;
  border-width: 30px;
  border-style: double;
  border-color: #101010 transparent transparent;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.pace .pace-activity:before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  display: block;
  border-width: 10px;
  border-style: solid;
  border-color: #101010 transparent transparent;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}/*# sourceMappingURL=loader.css.map */