@use "../grobal/" as *;
/* ===============================================
layout
=============================================== */

/*
  centering
----------------------------------------------- */
.l-container {
  width: 90.6666%;
  max-width: $content-width;
  margin: 0 auto;
}
